@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';


body {
	margin: 0;
	padding: 0;
	background: url('../images/bg.jpg') #000;
	background-repeat: no-repeat;
	background-size: cover;
	
	font: 300 18px/18px Roboto, sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

*,
:after,
:before {
	box-sizing: border-box;
}

.pull-left {
	float: left
}

.pull-right {
	float: right
}

.clearfix:after,
.clearfix:before {
	content: '';
	display: table
}

.clearfix:after {
	clear: both;
	display: block
}



.wrapper {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	flex-grow: 1;
	margin-top: 40px;
}



.intro {
	text-align: center;
}

.intro h3 {
	font-weight: 300;
	font-size: 40px;
	line-height: 1.2;
	margin-bottom: 35px;
	color: white;
}

.intro img {
	width: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.streamers{
	background-color: rgb(0,0,0,0.3);
    border-radius: 10px;
    padding: 30px;
    height: 700px;
}

.left{
	width: 50%;
	float:left;
	height: 420px;
	border: #000;
	
}

.right{
	width: 50%;
	float:right;
	height: 420px;
}

.bottom{
	width: 100%;
	height: 30px;
}

.streamers h1{
	text-align: center;
	color: #ffffff;
	font-weight: 400;
	font-size: 40px;
	text-shadow: 1px 1px #000000;
	margin-bottom: 40px;
}
.streamers h2{
	margin-top: 10px;
	text-align: center;
	color: #ffffff;
	font-weight: 400;
	font-size: 20px;
	text-shadow: 1px 1px #000000;
}

.footer {
	width: 100%;
	margin: auto;
	background-color: rgba(0, 0, 0, .5);
	text-align: center;
	font-size: 12px;
	color: #ecf0f1;
	padding-top: 10px;
}



@media only screen and (max-width: 1000px) {

	.body{
		overflow: unset;
	}
	.intro{
		display: block;
	}
	.intro img {
		width: 255px;
		padding-top: 30px;
		padding-bottom: 10px;
	}

	.left{
		float: none;
		width: 100%;
	}
	.right{
		float: none;
		width: 100%;
	}

	.streamers{
		text-align: center;
	}

	.mhn-player {
		margin-top: 25px;
	}

	.footer{
		display: none;
	}

	.footer p {
		margin-left: 8px;
		margin-right: 8px;
	}

	.left-section{
		display: none;
	}
	.right-section{
		display: none;
	}
	.header{
		display: none;;
	}
}


.needle {
	position: absolute;
	top: 3px;
	left: 287px;
	z-index: 50;
}

.needle img {
	height: 170px;
	opacity: 0.8;
}
.clock .rivets:before,
.clock .rivets:after {
	background-color: #efefef;
	width: 17px;
	height: 17px;
	position: absolute;
	border-radius: 50%;
	box-shadow: -3px -3px 5px 0 rgba(0, 0, 0, 0.4) inset;
}

.clock .content .line .word,
.clock .content .dot {
	transition: all 0.3s;
}

.clock .content .line .word.active,
.clock .content .dot.active {
	opacity: 1;
}

.clock .content .line .word {
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	color: #FFF;
}

/* .clock .content .line .word.active {
  text-shadow: 0px 0px 10px rgba(255,255,255,0.4);
} */
.clock .content .dot {
	background-color: #fff;
	width: 15px;
	height: 15px;
}

.clock {
	position: relative;
	z-index: 2;
	border-radius: 8px;
}

.clock .content {
	width: 100%;
	height: 100%;
}

.clock .content .line {
	display: flex;
	justify-content: space-between;
}

.clock .content .line .word {
	display: block;
	line-height: 43px;
}

.clock .content .dot {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}



.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #000;
	z-index: -10;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 0;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .4);
	position: absolute;
}


/* Style the header with a grey background and some padding */
.header {
	color: #fbfbfb;
	background-color: #161717;
	border: solid 2px #161717;
	border-bottom-color: rgb(255, 255, 255);
	height: 85px;
    line-height: 85px;
  }
  
  /* Style the header links */
  .header a {
	float: left;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	height: 81px;
	line-height: 81px;
	text-align: center;
	padding: 0 40px;
	font-family: 'Roboto' ,sans-serif;
	text-transform: uppercase;
	list-style-type: none;
    font-weight: 400;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
	font-size: 25px;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
  }

  .header a.logo:hover{
	background-color: transparent;
  }
  
  /* Change the backgborder-bottom-color: red;round color on mouse-over */
  .header a:hover {
	background-color: #10a4fc;
  }
  
  /* Style the active/current link*/
  .header a.active {
	background-color: #10a4fc;
	color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
	float: right;
	
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
	.header a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.header-right {
	  float: none;
	}
  }



  #popup1{
	display: none;
	height: 290px;
  }
  #popup2{
	display: none;
  }
  .popup {
	display: none;
	position: fixed;
	padding: 10px;
	width: 350px;
	left: 50%;
	margin-left: -175px;
	height: 340px;
	top: 50%;
	margin-top: -100px;
	background: #161717;
	color: white;
	z-index: 500;
	text-align: center;
  }

  .popup h3{
	margin-top: 30px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 24px;
	color: #FFF;
  }
  .popup h4{
	margin-top: 10px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 17px;
	color: rgb(255, 255, 255);
  }

  .popup h4 span{
	color: rgb(255, 47, 0);
  }



  .popup a,
  .popup a:visited {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  display: block;
  margin: 10px 0;

}

.popup a:hover,
.popup a:active {
  text-decoration: underline;
}

.popup a,
.popup a:visited {
  color: rgb(236, 57, 57);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}



  #popup1{
	-webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  }
  
  #popup2{
	-webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  }

  
  .pyro > .before, .pyro > .after {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
	-moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  
  .pyro > .after {
	-moz-animation-delay: 1.25s, 1.25s, 1.25s;
	-webkit-animation-delay: 1.25s, 1.25s, 1.25s;
	-o-animation-delay: 1.25s, 1.25s, 1.25s;
	-ms-animation-delay: 1.25s, 1.25s, 1.25s;
	animation-delay: 1.25s, 1.25s, 1.25s;
	-moz-animation-duration: 1.25s, 1.25s, 6.25s;
	-webkit-animation-duration: 1.25s, 1.25s, 6.25s;
	-o-animation-duration: 1.25s, 1.25s, 6.25s;
	-ms-animation-duration: 1.25s, 1.25s, 6.25s;
	animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  @-webkit-keyframes bang {
	to {
	  box-shadow: -248px -334.6666666667px #ff9d00, 46px -206.6666666667px blue, 170px -129.6666666667px #a200ff, 121px -370.6666666667px #0080ff, -197px 70.3333333333px #00eeff, 91px -59.6666666667px #ff008c, 149px -356.6666666667px #22ff00, -131px -230.6666666667px #00ff33, -18px -159.6666666667px #00ff0d, -45px -383.6666666667px #ff0900, -247px -318.6666666667px #ff0022, 201px -344.6666666667px #1eff00, -114px -83.6666666667px #0080ff, -179px -322.6666666667px #a6ff00, 215px 30.3333333333px #ff0095, -203px 67.3333333333px #00bbff, 127px 26.3333333333px #ff0091, 140px -17.6666666667px #15ff00, -208px -89.6666666667px #00ffc8, -20px -352.6666666667px #ff4400, -125px 46.3333333333px #91ff00, 17px -177.6666666667px #ff5900, -184px -184.6666666667px #f7ff00, -119px -3.6666666667px #ff00d9, -132px -160.6666666667px #ccff00, 139px -344.6666666667px #00ffbf, -99px 24.3333333333px #00f7ff, -207px -291.6666666667px #00ff91, 56px -29.6666666667px #ff9100, 141px -342.6666666667px #0048ff, -57px -108.6666666667px #cc00ff, 103px -192.6666666667px #ddff00, -68px -128.6666666667px #ff00a6, 19px -337.6666666667px #00ff73, 157px -402.6666666667px #00ffbf, 65px -384.6666666667px #2200ff, 50px -188.6666666667px #ff006a, -195px -82.6666666667px #005eff, 123px -350.6666666667px #ff0073, 23px -112.6666666667px #ff00ee, 229px -68.6666666667px #00ff77, 230px -61.6666666667px #ff7b00, 90px -176.6666666667px #005eff, 239px -239.6666666667px #6a00ff, 197px -77.6666666667px #ff00b7, -181px -128.6666666667px #d900ff, 99px -163.6666666667px #6aff00, 34px -258.6666666667px #00ff66, -145px -246.6666666667px #001aff, 39px -7.6666666667px #0048ff, -11px -348.6666666667px #0095ff;
	}
  }
  @-moz-keyframes bang {
	to {
	  box-shadow: -248px -334.6666666667px #ff9d00, 46px -206.6666666667px blue, 170px -129.6666666667px #a200ff, 121px -370.6666666667px #0080ff, -197px 70.3333333333px #00eeff, 91px -59.6666666667px #ff008c, 149px -356.6666666667px #22ff00, -131px -230.6666666667px #00ff33, -18px -159.6666666667px #00ff0d, -45px -383.6666666667px #ff0900, -247px -318.6666666667px #ff0022, 201px -344.6666666667px #1eff00, -114px -83.6666666667px #0080ff, -179px -322.6666666667px #a6ff00, 215px 30.3333333333px #ff0095, -203px 67.3333333333px #00bbff, 127px 26.3333333333px #ff0091, 140px -17.6666666667px #15ff00, -208px -89.6666666667px #00ffc8, -20px -352.6666666667px #ff4400, -125px 46.3333333333px #91ff00, 17px -177.6666666667px #ff5900, -184px -184.6666666667px #f7ff00, -119px -3.6666666667px #ff00d9, -132px -160.6666666667px #ccff00, 139px -344.6666666667px #00ffbf, -99px 24.3333333333px #00f7ff, -207px -291.6666666667px #00ff91, 56px -29.6666666667px #ff9100, 141px -342.6666666667px #0048ff, -57px -108.6666666667px #cc00ff, 103px -192.6666666667px #ddff00, -68px -128.6666666667px #ff00a6, 19px -337.6666666667px #00ff73, 157px -402.6666666667px #00ffbf, 65px -384.6666666667px #2200ff, 50px -188.6666666667px #ff006a, -195px -82.6666666667px #005eff, 123px -350.6666666667px #ff0073, 23px -112.6666666667px #ff00ee, 229px -68.6666666667px #00ff77, 230px -61.6666666667px #ff7b00, 90px -176.6666666667px #005eff, 239px -239.6666666667px #6a00ff, 197px -77.6666666667px #ff00b7, -181px -128.6666666667px #d900ff, 99px -163.6666666667px #6aff00, 34px -258.6666666667px #00ff66, -145px -246.6666666667px #001aff, 39px -7.6666666667px #0048ff, -11px -348.6666666667px #0095ff;
	}
  }
  @-o-keyframes bang {
	to {
	  box-shadow: -248px -334.6666666667px #ff9d00, 46px -206.6666666667px blue, 170px -129.6666666667px #a200ff, 121px -370.6666666667px #0080ff, -197px 70.3333333333px #00eeff, 91px -59.6666666667px #ff008c, 149px -356.6666666667px #22ff00, -131px -230.6666666667px #00ff33, -18px -159.6666666667px #00ff0d, -45px -383.6666666667px #ff0900, -247px -318.6666666667px #ff0022, 201px -344.6666666667px #1eff00, -114px -83.6666666667px #0080ff, -179px -322.6666666667px #a6ff00, 215px 30.3333333333px #ff0095, -203px 67.3333333333px #00bbff, 127px 26.3333333333px #ff0091, 140px -17.6666666667px #15ff00, -208px -89.6666666667px #00ffc8, -20px -352.6666666667px #ff4400, -125px 46.3333333333px #91ff00, 17px -177.6666666667px #ff5900, -184px -184.6666666667px #f7ff00, -119px -3.6666666667px #ff00d9, -132px -160.6666666667px #ccff00, 139px -344.6666666667px #00ffbf, -99px 24.3333333333px #00f7ff, -207px -291.6666666667px #00ff91, 56px -29.6666666667px #ff9100, 141px -342.6666666667px #0048ff, -57px -108.6666666667px #cc00ff, 103px -192.6666666667px #ddff00, -68px -128.6666666667px #ff00a6, 19px -337.6666666667px #00ff73, 157px -402.6666666667px #00ffbf, 65px -384.6666666667px #2200ff, 50px -188.6666666667px #ff006a, -195px -82.6666666667px #005eff, 123px -350.6666666667px #ff0073, 23px -112.6666666667px #ff00ee, 229px -68.6666666667px #00ff77, 230px -61.6666666667px #ff7b00, 90px -176.6666666667px #005eff, 239px -239.6666666667px #6a00ff, 197px -77.6666666667px #ff00b7, -181px -128.6666666667px #d900ff, 99px -163.6666666667px #6aff00, 34px -258.6666666667px #00ff66, -145px -246.6666666667px #001aff, 39px -7.6666666667px #0048ff, -11px -348.6666666667px #0095ff;
	}
  }
  @-ms-keyframes bang {
	to {
	  box-shadow: -248px -334.6666666667px #ff9d00, 46px -206.6666666667px blue, 170px -129.6666666667px #a200ff, 121px -370.6666666667px #0080ff, -197px 70.3333333333px #00eeff, 91px -59.6666666667px #ff008c, 149px -356.6666666667px #22ff00, -131px -230.6666666667px #00ff33, -18px -159.6666666667px #00ff0d, -45px -383.6666666667px #ff0900, -247px -318.6666666667px #ff0022, 201px -344.6666666667px #1eff00, -114px -83.6666666667px #0080ff, -179px -322.6666666667px #a6ff00, 215px 30.3333333333px #ff0095, -203px 67.3333333333px #00bbff, 127px 26.3333333333px #ff0091, 140px -17.6666666667px #15ff00, -208px -89.6666666667px #00ffc8, -20px -352.6666666667px #ff4400, -125px 46.3333333333px #91ff00, 17px -177.6666666667px #ff5900, -184px -184.6666666667px #f7ff00, -119px -3.6666666667px #ff00d9, -132px -160.6666666667px #ccff00, 139px -344.6666666667px #00ffbf, -99px 24.3333333333px #00f7ff, -207px -291.6666666667px #00ff91, 56px -29.6666666667px #ff9100, 141px -342.6666666667px #0048ff, -57px -108.6666666667px #cc00ff, 103px -192.6666666667px #ddff00, -68px -128.6666666667px #ff00a6, 19px -337.6666666667px #00ff73, 157px -402.6666666667px #00ffbf, 65px -384.6666666667px #2200ff, 50px -188.6666666667px #ff006a, -195px -82.6666666667px #005eff, 123px -350.6666666667px #ff0073, 23px -112.6666666667px #ff00ee, 229px -68.6666666667px #00ff77, 230px -61.6666666667px #ff7b00, 90px -176.6666666667px #005eff, 239px -239.6666666667px #6a00ff, 197px -77.6666666667px #ff00b7, -181px -128.6666666667px #d900ff, 99px -163.6666666667px #6aff00, 34px -258.6666666667px #00ff66, -145px -246.6666666667px #001aff, 39px -7.6666666667px #0048ff, -11px -348.6666666667px #0095ff;
	}
  }
  @keyframes bang {
	to {
	  box-shadow: -248px -334.6666666667px #ff9d00, 46px -206.6666666667px blue, 170px -129.6666666667px #a200ff, 121px -370.6666666667px #0080ff, -197px 70.3333333333px #00eeff, 91px -59.6666666667px #ff008c, 149px -356.6666666667px #22ff00, -131px -230.6666666667px #00ff33, -18px -159.6666666667px #00ff0d, -45px -383.6666666667px #ff0900, -247px -318.6666666667px #ff0022, 201px -344.6666666667px #1eff00, -114px -83.6666666667px #0080ff, -179px -322.6666666667px #a6ff00, 215px 30.3333333333px #ff0095, -203px 67.3333333333px #00bbff, 127px 26.3333333333px #ff0091, 140px -17.6666666667px #15ff00, -208px -89.6666666667px #00ffc8, -20px -352.6666666667px #ff4400, -125px 46.3333333333px #91ff00, 17px -177.6666666667px #ff5900, -184px -184.6666666667px #f7ff00, -119px -3.6666666667px #ff00d9, -132px -160.6666666667px #ccff00, 139px -344.6666666667px #00ffbf, -99px 24.3333333333px #00f7ff, -207px -291.6666666667px #00ff91, 56px -29.6666666667px #ff9100, 141px -342.6666666667px #0048ff, -57px -108.6666666667px #cc00ff, 103px -192.6666666667px #ddff00, -68px -128.6666666667px #ff00a6, 19px -337.6666666667px #00ff73, 157px -402.6666666667px #00ffbf, 65px -384.6666666667px #2200ff, 50px -188.6666666667px #ff006a, -195px -82.6666666667px #005eff, 123px -350.6666666667px #ff0073, 23px -112.6666666667px #ff00ee, 229px -68.6666666667px #00ff77, 230px -61.6666666667px #ff7b00, 90px -176.6666666667px #005eff, 239px -239.6666666667px #6a00ff, 197px -77.6666666667px #ff00b7, -181px -128.6666666667px #d900ff, 99px -163.6666666667px #6aff00, 34px -258.6666666667px #00ff66, -145px -246.6666666667px #001aff, 39px -7.6666666667px #0048ff, -11px -348.6666666667px #0095ff;
	}
  }
  @-webkit-keyframes gravity {
	to {
	  transform: translateY(200px);
	  -moz-transform: translateY(200px);
	  -webkit-transform: translateY(200px);
	  -o-transform: translateY(200px);
	  -ms-transform: translateY(200px);
	  opacity: 0;
	}
  }
  @-moz-keyframes gravity {
	to {
	  transform: translateY(200px);
	  -moz-transform: translateY(200px);
	  -webkit-transform: translateY(200px);
	  -o-transform: translateY(200px);
	  -ms-transform: translateY(200px);
	  opacity: 0;
	}
  }
  @-o-keyframes gravity {
	to {
	  transform: translateY(200px);
	  -moz-transform: translateY(200px);
	  -webkit-transform: translateY(200px);
	  -o-transform: translateY(200px);
	  -ms-transform: translateY(200px);
	  opacity: 0;
	}
  }
  @-ms-keyframes gravity {
	to {
	  transform: translateY(200px);
	  -moz-transform: translateY(200px);
	  -webkit-transform: translateY(200px);
	  -o-transform: translateY(200px);
	  -ms-transform: translateY(200px);
	  opacity: 0;
	}
  }
  @keyframes gravity {
	to {
	  transform: translateY(200px);
	  -moz-transform: translateY(200px);
	  -webkit-transform: translateY(200px);
	  -o-transform: translateY(200px);
	  -ms-transform: translateY(200px);
	  opacity: 0;
	}
  }
  @-webkit-keyframes position {
	0%, 19.9% {
	  margin-top: 10%;
	  margin-left: 40%;
	}
	20%, 39.9% {
	  margin-top: 40%;
	  margin-left: 30%;
	}
	40%, 59.9% {
	  margin-top: 20%;
	  margin-left: 70%;
	}
	60%, 79.9% {
	  margin-top: 30%;
	  margin-left: 20%;
	}
	80%, 99.9% {
	  margin-top: 30%;
	  margin-left: 80%;
	}
  }
  @-moz-keyframes position {
	0%, 19.9% {
	  margin-top: 10%;
	  margin-left: 40%;
	}
	20%, 39.9% {
	  margin-top: 40%;
	  margin-left: 30%;
	}
	40%, 59.9% {
	  margin-top: 20%;
	  margin-left: 70%;
	}
	60%, 79.9% {
	  margin-top: 30%;
	  margin-left: 20%;
	}
	80%, 99.9% {
	  margin-top: 30%;
	  margin-left: 80%;
	}
  }
  @-o-keyframes position {
	0%, 19.9% {
	  margin-top: 10%;
	  margin-left: 40%;
	}
	20%, 39.9% {
	  margin-top: 40%;
	  margin-left: 30%;
	}
	40%, 59.9% {
	  margin-top: 20%;
	  margin-left: 70%;
	}
	60%, 79.9% {
	  margin-top: 30%;
	  margin-left: 20%;
	}
	80%, 99.9% {
	  margin-top: 30%;
	  margin-left: 80%;
	}
  }
  @-ms-keyframes position {
	0%, 19.9% {
	  margin-top: 10%;
	  margin-left: 40%;
	}
	20%, 39.9% {
	  margin-top: 40%;
	  margin-left: 30%;
	}
	40%, 59.9% {
	  margin-top: 20%;
	  margin-left: 70%;
	}
	60%, 79.9% {
	  margin-top: 30%;
	  margin-left: 20%;
	}
	80%, 99.9% {
	  margin-top: 30%;
	  margin-left: 80%;
	}
  }
  @keyframes position {
	0%, 19.9% {
	  margin-top: 10%;
	  margin-left: 40%;
	}
	20%, 39.9% {
	  margin-top: 40%;
	  margin-left: 30%;
	}
	40%, 59.9% {
	  margin-top: 20%;
	  margin-left: 70%;
	}
	60%, 79.9% {
	  margin-top: 30%;
	  margin-left: 20%;
	}
	80%, 99.9% {
	  margin-top: 30%;
	  margin-left: 80%;
	}
  }